.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    padding: 0% 2%;
    margin: 0% 1%;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 100px;
}

.active-link {
    color: blue;
}