.mat-tab-label {
    width: 50%;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.example-container {
    height: 400px;
    width: 1365px;
    max-width: 100%;
    overflow: auto;
  }
  
.mat-tab-body {
    margin: 0 auto;
    height: 600px;
}

table {
    width: 100%;
}

.addButton {
    position: fixed;
    bottom: 22px;
    right: 22px;
    display: flex;
    flex: flex-end;
    /* height: 30px; */
    z-index: 99;
    /* margin: 3%; */
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }