<mat-card>
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-content>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" name="email" formControlName="email" required
                        email="true">
                    </mat-form-field>
                    <a [routerLink]="['/login']" class="forgot-password">Login</a>
            </p>
            <div class="button">
                <button type="submit" [disabled]="!forgotForm.valid" mat-raised-button color="primary">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>